name: "CI"
on:
  push:
    branches:
      - main
  # Pull request
  pull_request:
    types:
      # Newly opened
      - opened
      # Updated (excludes change of base branch)
      - synchronize
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: bazel-contrib/setup-bazel@0.15.0
        with:
          bazelisk-cache: true
          disk-cache: "${{ github.workflow }}-test"
          repository-cache: true
      - run: bazel test //...
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: bazel-contrib/setup-bazel@0.15.0
        with:
          bazelisk-cache: true
          disk-cache: "${{ github.workflow }}-build"
          repository-cache: true
      - run: bazel build //extension/vsix:git_monolithic --stamp --platforms=//build_defs/platforms:vscode_ext
      - uses: actions/upload-artifact@v5
        with:
          name: git-monolithic-vsix
          path: .bazel/bin/extension/vsix/git_monolithic.vsix
  devcontainer:
    strategy:
      matrix:
        runner: [ubuntu-latest, ubuntu-24.04-arm]
    runs-on: ${{ matrix.runner }}
    steps:
      - uses: actions/checkout@v6
      - uses: devcontainers/ci@v0.3
        with:
          runCmd: echo "Built successfully"