on:
  pull_request:
    types:
      - opened
      - synchronize
    paths:
      - MODULE.bazel
      - .devcontainer/devcontainer.json
jobs:
  renovate_tasks:
    if: github.actor == 'renovate[bot]'
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          # Required to have correct ref for git-auto-commit-action
          ref: ${{ github.head_ref }}
      - run: node ./.github/workflows/update_bazel_nodejs.mjs ./.devcontainer/devcontainer.json ./MODULE.bazel
      - run: bazel mod deps --lockfile_mode=update
      - uses: stefanzweifel/git-auto-commit-action@v7
